{% load static %}
        <nav class="nav__cont">
            <ul class="nav">
                <li class="nav__items nav__selected"> 
                    <a href="{% static '/..' %}">
                        <img src="{% static '/img/icon_home.png' %}" />
                        Home
                    </a>
                </li>
                
                <li class="nav__items"> 
                    <a href="/../cut">
                        <img src="{% static '/img/icon_cut.png' %}" />
                        Laser Cutting
                    </a>
                </li>
              
                <li class="nav__items ">
                    <a href="/../raster">
                        <img src="{% static '/img/icon_raster.png' %}" />
                        Laser Engraving
                    </a>
                </li>
            
                <li class="nav__items ">
                    <a href="/../gear">
                        <img src="{% static '/img/icon_gear.png' %}" />
                        Gear Maker
                    </a>
                </li>
                
                <li class="nav__items ">
                    <a href="/../box">
                        <img src="{% static '/img/icon_box.png' %}" />
                        Box Maker
                    </a>
                </li>
                
                <li class="nav__items ">
                    <a href="/../db">
                        <img src="{% static '/img/icon_db.png' %}" />
                        Repository
                    </a>
                </li>
                  
            </ul>
        </nav>