<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include "_header.html" %}    
		<link rel="stylesheet" type="text/css" href="{% static '/css/boxstyle.css' %}" >
        <script src="{% static '/js/boxscript.js' %}"></script>
    </head>
    <body onload="initPage(1)">
        {% include "_nav.html" %}    

        <h1>Laser Cut Box Generator</h1>
        <p style="text-align: center;">This application will help you generate a laser cut box from basic template as shown below. Adjust the width, length, and depth of the box to generate your custom box.</p>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Generate Box" />
        </form>
        

    </body>
</html>



