<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include "_header.html" %}    
		<link rel="stylesheet" type="text/css" href="{% static '/css/boxstyle.css' %}" >
        <script src="{% static '/js/boxscript.js' %}"></script>
    </head>
    <body onload="initPage(1)">
        {% include "_nav.html" %}    

        <h1>Laser Cut Gear Generator</h1>
        <p>This application will help you create gears based on a diameter and number of teeth specified.</p>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Generate Involute Gear" />
        </form>
    </body>
</html>






