<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include "_header.html" %}    
    </head>
    <body>
        {% include "_nav.html" %}    
        

        <innerbody>
            <h1>Laser Cutter Toolpath Helper</h1>
            <p>This application will help you convert images into laser cutting toolpaths. Additionally, there are some basic parametric templates for box making and gear creation to speed up these common applications.</p>

        </innerbody>

        

        <script type="text/javascript" src="{% static '/js/testscript.js' %}"></script>
    </body>
</html>



